-  case-sensitive

# Arithmetic Operation

-  Addition ( + )
-  Substraction ( - )
-  Multiplication ( * )
-  Division ( / )
-  Exponentiation ( ** )
-  Caret ( ^ ) :- bitwise XOR , Use later
-  modulo ( % )  :- # Return Remainder
-  Integer Divison ( // ) :- Round Value

In [10]:
print ( 2 + 5)
print ( 3 - 10)
print ( 24 * 54)
print ( 24 / 3)
print ( 1.1 ** 3)
print ( 11 % 3)
print ( 11 // 3)

7
-7
1296
8.0
1.3310000000000004
2
3

### Integers and Floats

-  Float ( ex:- 0.75) # for decimal or floating point values
-  int

In [12]:
print ( 3/4) #Output will be float
x = 4.7
type(x)

0.75

float

### Example :- Same number but different data type with using decimal only

In [14]:
x = 40
y = 40.0
z = 40.2
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>

### Example :- Add different Data type

In [17]:
    x = 42
    y = 1.5
    
    z = 42 + 1.5 # Addition of int & float will be float
    
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>

### Example :- Change data type

In [23]:
  x = 42.5 # 42.5 is float
print (type(x))

print(int(42.5)) # conversion of float to int will remove integer after decimal
print(type(int(38.5))) # 38.5 is float

<class 'float'>
42
<class 'int'>